@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,700i,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style: none;
}

button {
  font-family: 'Nunito', sans-serif;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: #FFFFFF;
  transition: all 0.2s ease;
}

.container {
  background: #FCFBFC;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
}

.date-picker-content {
  width: 967px;
  height: 425px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 8px 50px rgba(0,0,0,.13);
  display: flex;
}

.links-content {
  height: 100%;
  width: 20%;
  border-right: 1.2px solid #f1f1f1;
  padding-top: 15px;
}

.links-content ul li {
  padding: 8px 30px;
  margin: 10px 0;
}

.links-content ul li a {
  font-weight: 700;
  color: #24222C;
  text-decoration: none;
}

.links-content ul li.active-link {
  background: #F0F5FF;
  border-right: 2px solid #6160F7;
  color: #6160F7;
}

.links-content ul li.active-link a {
  color: #6160F7;
}


.calendar-content{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 15px 25px;
}

.calendar-content .calendar-content-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-month {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-month .button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 4px;
  border: 1.3px solid #f1eeee;
  color: #BCBCCA;
  margin-left: 5px;
}

.button-back:hover {
  color: #62626b;
  border-color: #b2b2bb;
}

.dropdown-container {
  position: relative;
}

.current-month .button-month {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1.3px solid #f1eeee;
  color: #24222C;
  margin: 0 20px;
}

.button-month:focus {
  background: #F0F5FF;
}

.button-month:focus span {
  color: #6160F7;
}

.button-month:focus .month-dropdown {
  display: block;
}

.month-dropdown {
  z-index: 2;
  position: absolute;
  background: #FFFFFF;
  border-radius: 8px;
  height: 300px;
  width: 220px;
  top: 55px;
  box-shadow: -3px 8px 50px rgba(0,0,0,.13);
  padding: 10px 0;
  overflow-y: scroll;
  display: none;
}

.month-dropdown ul li {
  font-weight: 600;
  padding: 10px 40px;
  cursor: pointer;
}

.year-dropdown {
  z-index: 2;
  position: absolute;
  background: #FFFFFF;
  border-radius: 8px;
  height: 300px;
  width: 180px;
  top: 55px;
  left: -10px;
  box-shadow: -3px 8px 50px rgba(0,0,0,.13);
  overflow-y: scroll;
  display: none;
}

.year-dropdown ul li {
  font-weight: 600;
  padding: 15px 50px;
}

.current-month .button-year {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  border: 1.3px solid #f1eeee;
  color: #24222C;
  font-weight: 700;
  user-select: none;
}

.button-year:focus span {
  color: #6160F7;
}

.button-year:focus {
  background: #F0F5FF;
}

.button-year:focus .year-dropdown {
  display: block;
}

.next-month {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.next-month .button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 4px;
  border: 1.3px solid #f1eeee;
  color: #BCBCCA;
  margin-left: 5px;
}

.next-month .next-month-text {
  margin-right: 20px;
  font-weight: 500;
  color: #ABB0BC;
}

.button-next:hover {
  color: #62626b;
  border-color: #b2b2bb;
}

.calendar-content-body {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.calendar-content-footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.calendar-content-footer button {
  padding: 8px 12px;
}

.button-cancel {
  background: #F0F5FF;
  color: #8082E6;
  border-radius: 5px;
  margin-right: 15px;
}

.button-confirm {
  background: #6160FF;
  color: #FFFFFF;
  border-radius: 5px;
}

.current-calendar {
  width: 300px;
  height: 260px;
  margin-top: 20px;
}

.next-month-calendar {
  width: 300px;
  height: 260px;
  margin-top: 20px;
}

.calendar-days {
  width: 290px;;
  height: 16.66%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.day-label {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B8BDC7;
  font-weight: 600;
  transition: all 0.2s ease;
  user-select: none;
}

.day {
  cursor: pointer;
  color: #24222C;
}

.day:hover {
  background: aliceblue;
  border-radius: 2px;
  color: #6160ff;
}

.today {
  color: #6160ff;
}

.selected {
  background: #dfe0ff;
}

.fisheAt {
  background: #bec0e8;
  border-radius: 0 4px 4px 0;
}